.content {
    display: grid;
    grid-template-columns: 210px 10fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
    "photo info"
    "photo myPost";
}

.contentPhoto {
    grid-area: photo;
}

.contentInfo {
    grid-area: info;
}

.contentImg {
    width: 200px;
    height: 200px;
}

.changeAvatar_container {
    position: relative;
}

.input_file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.changeAvatar {
    width: 200px;
    background-color: white;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: .3s;
}

.changeAvatar:hover {
    background-color: #041226;
    color: white;
    cursor: pointer;
}


