.content {
    display: grid;
    grid-template-columns: 210px 10fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
    "photo info"
    "photo myPost";
}

.contentPhoto {
    grid-area: photo;
}

.contentInfo {
    grid-area: info;
}

.contentImg {
    width: 200px;
    height: 200px;
}


