.userContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #041226;
}

.paginationBlock {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 15px;
}

.userItem {
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    max-width: 160px;
    min-height: 250px;
}

.userNameBut {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.userItem:hover {
    box-shadow: 0px 0px 15px black;
}

.imgUser {
    width: 160px;
    max-height: 120px;
}

.locationBlock {
    display: flex;
    justify-content: space-between;
}

.butUsers {
    color: #041226;
    border: 3px solid #98a0ac;
    padding: 5px 0;
    min-width: 100px;
    text-transform: uppercase;
    box-shadow: 0 0 5px black;
    transition: background-color 0.1s ease 0.1s, color 0.1s ease 0.1s;
    margin-top: 10px;
}

.butUsers:hover {
    background-color: #041226;
    color: #fff;
}

.activeCurrentPage {
    font-weight: bold;
}

.statusUsers {
    overflow: hidden;
    height: 25px;
}
