.nav {
    grid-area: n;
    background-color: #dce1e6;
}

.menu {
    padding: 5px;
}

.menu li {
    list-style: none;
    line-height: 30px;
}

.menu a {
    text-decoration: none;
    color: #041226;
    display: block;
    border-radius: 5px;
    padding: 8px;
}

.menu a.active {
    color: gold;
}

.menu a:hover {
    background-color: #98a0ac;
}