.nav {
    grid-area: n;
}

.menu {
    padding: 5px;
}

.menu li {
    list-style: none;
    line-height: 30px;
}

.menu a {
    text-decoration: none;
    color: #041226;
    display: block;
    border-radius: 5px;
    padding: 8px;
}

a.active {
    color: gold;
}
a:hover {
  background-color: #98a0ac;
}