ul, h1, h2, h3, h4, h5, h6, p {
    margin: 0
}

.appWrapper {
    background-color: #dce1e6;
}

.appContent {
    width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-areas:
    "h h"
    "n m";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 50px 1fr;
    grid-gap: 10px;
}

.appMenuContent {
    grid-area: m;
    background-color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}







